<div class="container">
  <nav>
    <ul *ngIf="verOpciones">

      <li *ngIf="esAgricultor" ><a [routerLink]="'/opcion2'" [style.color]="color1" (click)="onVerCrearTransportista()" >{{ opcion2 }}</a></li>
      <li *ngIf="esTrasportista" ><a [routerLink]="'/opcion3'" [style.color]="color3">{{ opcion3 }}</a></li>
      <li *ngIf="esTrasportista"><a [routerLink]="'/opcion4'" [style.color]="color4" (click)="onVerQR()" >{{ opcion4 }}</a></li>
      <li><a [routerLink]="'/opcion5'" [style.color]="color5" (click)="cerrarSesion()">{{ opcion5 }}</a></li>
    </ul>
  </nav>
  <div *ngIf="verOpciones" style="text-align: center; background-color: #FBE7C6; padding: 20px;">
    <h1 style="color: #8C3F00; font-size: 28px; font-weight: bold;">¡Bienvenido a nuestro beneficio cafetalero!</h1>
    <p style="color: #6C4011; font-size: 18px;">{{this.currentUser.nombre}} </p>
  </div>
<app-login-form *ngIf="verLogin" (loginSuccess)="usuarioLogueado()" (showRegister)="verRegistroBeneficio()"></app-login-form>

<app-registro-beneficio *ngIf="verRegistro"></app-registro-beneficio>
<app-crear-trasportista (closeComponent)="usuarioLogueado();" *ngIf="verCrearTransportista"></app-crear-trasportista>

<div style="width: 100%;display: flex; flex-direction: column; justify-content: center; align-items: center;">
<app-qrcode *ngIf="verQR" [qrdatos]="this.currentUser.numero_licencia" ></app-qrcode>
</div>
</div>
