<div class="container">
  <nav>
    <ul *ngIf="verOpciones">

      <li *ngIf="esAgricultor"><a [style.color]="color1" (click)="onVerCrearTransportista()">{{ opcion2 }}</a></li>
      <li *ngIf="esAgricultor"><a [style.color]="color3" (click)="onVerCrearTransporte()">{{ opcion3 }}</a></li>
      <li *ngIf="esAgricultor"><a [style.color]="color4" (click)="onVerCrearCuenta()">Crear Cuenta</a></li>
      <li *ngIf="esBeneficio"><a [style.color]="color1" (click)="onVerIngresoGarita()">Ingreso Garita</a></li>
      <li *ngIf="esBeneficio"><a [style.color]="color1" (click)="onVerInactivarTransportista()">Inactivar Transportista</a></li>
      <li *ngIf="esAgricultor"><a [style.color]="color1" (click)="onVerRegistrarParcialidad()">Registrar Parcialidad</a></li>
      <li *ngIf="esPesoCabal"><a [style.color]="color1" (click)="onVerPesoCabal()">Registrar Pesaje </a></li>
      <!--<li *ngIf="esTrasportista"><a [style.color]="color4" (click)="onVerQR($event)">{{ opcion4 }}</a></li>-->
      <li><a [style.color]="color5" (click)="cerrarSesion()">{{ opcion5 }}</a></li>
    </ul>
  </nav>
  <div *ngIf="verOpciones" style="text-align: center; background-color: #FBE7C6; padding: 20px;">
    <h1 style="color: #8C3F00; font-size: 28px; font-weight: bold;">¡Bienvenido a nuestro beneficio cafetalero!</h1>
  </div>
  <app-ingreso-garita *ngIf="verIngresoGarita"></app-ingreso-garita>
  <app-registrar-parcialidad *ngIf="verRegistrarParcialidad"></app-registrar-parcialidad>
  <app-crear-cuenta *ngIf="verCrearCuenta"> </app-crear-cuenta>
  <app-crear-trasporte *ngIf="verCrearTransporte"> </app-crear-trasporte>
  <app-peso-cabal *ngIf="verPesoCabal"> </app-peso-cabal>
  <app-inactivar-trasportista *ngIf="verInactivarTransportista"></app-inactivar-trasportista>
  <app-listado-cuentas *ngIf="verListado"></app-listado-cuentas>
  <app-login-form *ngIf="verLogin" (loginSuccess)="usuarioLogueado()"
    (showRegister)="verRegistroBeneficio()"></app-login-form>


  <app-registro-beneficio *ngIf="verRegistro"></app-registro-beneficio>
  <app-crear-trasportista (closeComponent)="onVerQR($event);" *ngIf="verCrearTransportista"></app-crear-trasportista>

  <div style="width: 100%;display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <app-qrcode *ngIf="verQR" [qrdatos]="numero_licencia"></app-qrcode>
  </div>
</div>
