<div class="container" style=" display: flex; justify-content: center;">
  <div class="card " style="max-width: 40vw; width: 30vw; margin-top: 0;">
    <div class="card-header">
      <h5 class="card-title">Registrar Parcialidad</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="enviar()">

        <!-- <div class="form-group">
          <label>Id parcialidad:</label>
          <input type="text" class="form-control" formControlName="id_parcialidad">
          <div *ngIf="enviado && formulario.controls.matriculas_autorizadas.errors" class="text-danger">
            {{ formulario.controls.matriculas_autorizadas.errors.required ? 'Las matrículas autorizadas son obligatorias' : '' }}
          </div>
        </div> -->

        <div class="form-group">
          <label>Matrícula:</label>
          <input type="text" class="form-control" formControlName="matricula">
          <!-- <div *ngIf="enviado && formulario.controls.matricula.errors" class="text-danger">
            {{ formulario.controls.matricula.errors.required ? 'La matrícula es obligatoria' : '' }}
          </div> -->
        </div>

        <div class="form-group">
          <label>Número de licencia:</label>
          <input type="text" class="form-control" formControlName="numero_licencia">
          <!-- <div *ngIf="enviado && formulario.controls.numero_licencia.errors" class="text-danger">
            {{ formulario.controls.numero_licencia.errors.required ? 'El número de licencia es obligatorio' : '' }}
          </div> -->
        </div>

        <div class="form-group">
          <label>Peso de envío:</label>
          <input type="text" class="form-control" formControlName="peso_de_envio">
          <!-- <div *ngIf="enviado && formulario.controls.peso_de_envio.errors" class="text-danger">
            {{ formulario.controls.peso_de_envio.errors.required ? 'El peso de envío es obligatorio' : '' }}
          </div> -->
        </div>

        <div class="form-group">
          <label>Cuenta:</label>
          <input type="text" class="form-control" formControlName="cuenta">
          <!-- <div *ngIf="enviado && formulario.controls.cuenta.errors" class="text-danger">
            {{ formulario.controls.cuenta.errors.required ? 'La cuenta es obligatorio' : '' }}
          </div> -->
        </div>

       

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
